html {
  font-family: 'Noto Sans KR', 'Open Sans', 'Apple SD Gothic Neo',
    '애플 산돌 고딕 NEO', Dotum, '돋움', sans-serif;
  font-size: 16px;
}

html > * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  padding: 0.5rem;
  border: 1px solid #ddd;
  all: unset;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: none;
}

input[type='radio'] {
  width: 1.5rem;
  height: 1.5rem;
}

button,
select {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: 0;
}

p,
span,
button,
b,
em {
  line-height: 1.5;
}

h1 {
  font-size: 2.125rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

p,
span {
  font-size: 1rem;
}

button,
input {
  font-size: 0.875rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }

  p,
  span {
    font-size: 1rem;
  }

  button {
    font-size: 0.875rem;
  }
}
